// SPDX-License-Identifier: MIT
// SPDX-FileCopyrightText: Copyright (c) 2025 ReviewSignal

package theme

import (
	"github.com/ReviewSignal/orderly-ape/web/components/templui/button"
	"github.com/ReviewSignal/orderly-ape/web/components/templui/icon"
)

type SwitcherProps struct {
	Class      string           // Additional CSS classes
	Variant    button.Variant   // Visual style (default, destructive, outline, secondary, ghost, link)
	Size       button.Size      // Button dimensions (md, sm, lg, icon)
	IconDark   templ.Component  // Icon component before text
	IconLight  templ.Component  // Icon component after text
	Attributes templ.Attributes // Additional HTML attributes
}

func (props SwitcherProps) attributes() templ.Attributes {
	if props.Attributes == nil {
		props.Attributes = make(templ.Attributes)
	}
	attributes := props.Attributes
	attributes["@click"] = "$store.darkMode.toggle()"
	if _, ok := attributes["aria-label"]; !ok {
		attributes["aria-label"] = "Toggle dark mode"
	}
	return attributes
}

func (props SwitcherProps) variant() button.Variant {
	if props.Variant == "" {
		props.Variant = button.VariantGhost
	}
	return props.Variant
}

func (props SwitcherProps) buttonSize() button.Size {
	if props.Size == "" {
		props.Size = button.SizeIcon
	}
	return props.Size
}

func (props SwitcherProps) iconDark() templ.Component {
	i := props.IconDark
	if i == nil {
		i = icon.Moon(icon.Props{})
	}
	return i
}

func (props SwitcherProps) iconLight() templ.Component {
	i := props.IconLight
	if i == nil {
		i = icon.Sun(icon.Props{})
	}
	return i
}

templ Switcher(props SwitcherProps) {
	@button.Button(button.Props{
		Class:      "theme-switcher " + props.Class,
		Variant:    props.variant(),
		Size:       props.buttonSize(),
		Attributes: props.attributes(),
	}) {
		<div x-cloak x-show="$store.darkMode.on">
			@props.iconDark()
		</div>
		<div x-cloak x-show="!$store.darkMode.on">
			@props.iconLight()
		</div>
	}
}

templ SwitcherScript() {
	{{ handler := templ.NewOnceHandle() }}
	@handler.Once() {
		<script defer nonce={ templ.GetNonce(ctx) }>
        document.addEventListener('alpine:initializing', () => {
            var darkModeOn = false;
            if (
                window.matchMedia &&
                window.matchMedia('(prefers-color-scheme: dark)').matches
            ) {
                // Dark theme is preferred
                darkModeOn = true;
            } else {
                // Light theme is preferred (or default)
                darkModeOn = false;
            }
            // Dark mode
            Alpine.store('darkMode', {
                on: Alpine.$persist(darkModeOn).as('darkMode'),

                toggle() {
                    this.on = !this.on;
                    // Emit darkModeChanged event
                    const event = new Event('darkModeChanged');
                    document.dispatchEvent(event);
                },
            });
        });
        </script>
	}
}
